// breakpoints
    $sm: rem(375);
    $sm-landscape: rem(576);
    $md: rem(768);
    $lg: rem(992);
    $xl: rem(1200);
    $xxl: rem(1440);

// font-family declarations
    $logo-font: 'Heebo', sans-serif;
    $primary-font: 'Poppins', sans-serif;

// font attributes declarations
    // font Weight
    $fontw-light: 300;
    $fontw-regular: 400;
    $fontw-medium: 500;
    $fontw-sbold: 600;
    $fontw-bold: 700;
    $fontw-xbold: 800;

    // font Size
    $fsize: 1rem;

// standard margin
    $margin: 1rem;

// standard padding
    $padding: 1rem;

// Color Palette
    $dark-gray: #333333; // logo & heading
    $light-gray: #4F4F4F; // paragraph

    $light-gray-300: #F2F2F2; // input & footer text

    $light-gray-500: #828282; // form & label
    $light-gray-700: #BDBDBD; // form placeholder
    
    $light-blue-pm: #2D9CDB; // primary button & eyebrow
    $light-gray-sc: #E0E0E0; // secondary button
    $light-gray-tr: #828282; // secondary eyebrow

    $bckg-purple: #100E1D; // background color

    $green-300: #27AE60; // Icon
    $red-300: #EB5757; // Tag


// Burger Nav Icon
$nav-icon-line-height: 4px; 
$nav-icon-line-space: 4px;
$nav-icon-line-offsetY: $nav-icon-line-height + $nav-icon-line-space;
$nav-icon-height: (3 * $nav-icon-line-height) + (3 * $nav-icon-line-space);