.cards {
    margin-top: rem(90px) !important;

    > h2 {
        max-width: rem(350px);
    }

    @include respond-to('large') {
        &-list {
            display: flex;
            flex-direction: row;
        }
    }
}