.hero {
    padding-top: rem(35px);
    width: 95vw;
    margin: auto;
    max-width: rem(1400px);

    &-header {
        padding-left: 10%;
        padding-right: 10%;
        font-weight: $fontw-medium;

        @include respond-to('medium') {
            padding-left: 15%;
            padding-right: 42%;
        }

        .eyebrow {
            color: $light-blue-pm;
        }

        > h1 {
            padding-bottom: rem(15px);
        }

        > h2 {
            padding-top: rem(20px);
        }

        > p {
            padding-top: rem(30px);
            padding-bottom: rem(30px);
            font-weight: $fontw-regular;
            font-size: rem(12px);
            line-height: rem(18px);
            max-width: rem(365px);
        }

    }

    &-image {
        border-radius: rem(18px);
        aspect-ratio: 21 / 9;
    }
}